Repository CalmCrews/Relanz, pull requests merged in 2023-07, with the labels that each got.

#181 fix: tag edit 기능 정상화
  relanz/user/views/tag_views.py
Labels: 🐞 BugFix

#185 style:moeinfo.html 만듬
  relanz/static/css/moreInfo.css
  relanz/static/icons/11.png
  relanz/static/icons/right_single_arrow.svg
  relanz/static/js/challenge.js
  relanz/templates/mobileBase.html
  relanz/templates/user/moreInfo.html
  relanz/user/urls.py
  relanz/user/views/tag_views.py
  relanz/user/views/user_views.py
Labels: 🎨 Html & CSS

#186 feature:로그아웃 기능넣음
  relanz/static/css/moreInfo.css
  relanz/templates/user/moreInfo.html
Labels: 🎨 Html & CSS

#184 fix: home 예외처리
  relanz/main/views/home_views.py
Labels: 🐞 BugFix

#183 feature: 확정된 랭킹 페이지에 데이터 보내기
  relanz/main/views/ranking_views.py
  relanz/templates/main/ranking.html
Labels: ✨ Feature

#187 refactor: mypage challenge가 가지고 있는 태그
  relanz/templates/user/userinfo.html
  relanz/user/views/profile_views.py
Labels: 🔨 Refactor

#190 Fix/report stats pull
  relanz/main/views/home_views.py
  relanz/templates/main/home.html
  relanz/user/models.py
  relanz/user/views/tag_views.py
Labels: 🐞 BugFix

#191 fix/email_sent 로딩추가, 홈 로드 수정
  relanz/static/css/user/email_sent.css
  relanz/templates/user/email_sent.html
  relanz/user/views/user_views.py
Labels: 🎨 Html & CSS, 🔨 Refactor

#193 User delete.html
  relanz/static/css/user/user_delete.css
  relanz/static/images/sad_face.png
  relanz/static/js/user_delete.js
  relanz/templates/user/moreInfo.html
  relanz/templates/user/user_delete.html
  relanz/user/urls.py
  relanz/user/views/user_views.py
Labels: 🎨 Html & CSS

#194 Style: score section edit
  relanz/main/views/home_views.py
  relanz/static/css/main/home.css
  relanz/static/icons/star40.png
  relanz/templates/main/home.html
  relanz/templates/tag/tagsurvey.html
  relanz/templates/user/avatar.html
  relanz/templates/user/moreInfo.html
  relanz/user/views/user_views.py
Labels: 🎨 Html & CSS

#195 feature: 초기 데이터 값 입력
  relanz/ChallengeTag.json
  relanz/challenge.json
  relanz/main/views/home_views.py
  relanz/static/images/challenge/Diarydecoration.png
  relanz/static/images/challenge/aromatherapy.png
  relanz/static/images/challenge/bmx.png
  relanz/static/images/challenge/crossstitch.png
  relanz/static/images/challenge/jerry.gif
  relanz/static/images/challenge/kayak.png
  relanz/static/images/challenge/kitesurfing.png
  relanz/static/images/challenge/parkour.png
  relanz/static/images/challenge/puzzle.png
  relanz/static/images/challenge/rafting.png
  relanz/static/images/challenge/shower.png
  relanz/static/images/challenge/soundthearapy.png
  relanz/static/images/challenge/templestay.png
  relanz/static/images/challenge/tom.gif
  relanz/static/images/challenge/transcription.png
  relanz/templates/challenge/challenge.html
Labels: ✨ Feature

#198 fix: survey result 예외처리 한 곳에 누락된거 처리
  relanz/main/views/home_views.py
Labels: 🐞 BugFix

#199 Style/detail.html
  relanz/community/views.py
  relanz/main/views/home_views.py
  relanz/static/css/communityHome.css
  relanz/static/css/detail.css
  relanz/static/icons/fill_heart.svg
  relanz/static/icons/unfill_heart.png
  relanz/static/js/detail.js
  relanz/templates/community/detail.html
Labels: ✨ Feature, 🎨 Html & CSS

#200 style: relange data at home, report summary section
  relanz/main/urls.py
  relanz/main/views/home_views.py
  relanz/static/css/main/home.css
  relanz/static/icons/leftarrow.png
  relanz/templates/challenge/challenge.html
  relanz/templates/main/home.html
  relanz/templates/mobileBase.html
  relanz/user/urls.py
  relanz/user/views/profile_views.py
  relanz/user/views/user_views.py
Labels: 🎨 Html & CSS

#205 Fix/survey result count 0인 경우 예외처리
  relanz/main/views/home_views.py
Labels: 🐞 BugFix

#197 fix: userinfo user_id 값 넣기 X
  relanz/ChallengeTag.json
  relanz/challenge.json
  relanz/main/views/home_views.py
  relanz/main/views/ranking_views.py
  relanz/user/migrations/0002_alter_user_password.py
  relanz/user/urls.py
  relanz/user/views/profile_views.py
  relanz/user/views/tag_views.py
Labels: 🐞 BugFix

#213 style:survey nickname 이름 바꿈
  relanz/templates/tag/survey.html
  relanz/user/views/tag_views.py
Labels: 🎨 Html & CSS

#214 style: main-magazine
  relanz/static/css/main/home.css
  relanz/static/icons/magazine-like.png
  relanz/static/icons/magazine-share.png
  relanz/static/images/magazine-climbing.png
  relanz/templates/main/home.html
Labels: 🎨 Html & CSS

#211 refactor, fix: 알고리즘 refactor 및 예외처리
  relanz/main/views/ranking_views.py
  relanz/templates/main/ranking.html
Labels: 🐞 BugFix, 🔨 Refactor

#216 Style/findid.html
  relanz/static/css/user/findid.css
  relanz/static/icons/exclamation_mark.svg
  relanz/templates/challenge/participate.html
  relanz/templates/user/findid.html
  relanz/user/views/find_views.py
Labels: ✨ Feature, 🎨 Html & CSS

#220 Feature: email overlap 확인
  relanz/community/views.py
  relanz/templates/main/home.html
  relanz/templates/user/signup.html
  relanz/user/views/profile_views.py
  relanz/user/views/tag_views.py
  relanz/user/views/user_views.py
Labels: ✨ Feature

#222 fix: home-view-report 랜덤 고침
  relanz/main/views/home_views.py
Labels: 🐞 BugFix

#223 fix: zero-division 문제 해결
  relanz/main/views/home_views.py
Labels: 🐞 BugFix

#224 fix: 0 포함되도록 설정
  relanz/main/views/home_views.py
Labels: 🐞 BugFix

#225 Style/pw reset.html
  relanz/static/css/user/findid.css
  relanz/static/css/user/pw_reset.css
  relanz/static/css/user/pw_reset_done.css
  relanz/templates/user/findid.html
  relanz/templates/user/pw_reset.html
  relanz/templates/user/pw_reset_done.html
Labels: 🎨 Html & CSS

#227 style: 홈에서 challenge list 정상적으로 띄우기 완료
  relanz/challenge/views.py
  relanz/main/views/home_views.py
  relanz/static/css/main/home.css
  relanz/templates/main/home.html
Labels: 🎨 Html & CSS

#229 Style/pw confirm.html
  relanz/static/css/user/pw_reset_confirm.css
  relanz/static/js/signup.js
  relanz/templates/user/pw_reset_confirm.html
  relanz/templates/user/pw_reset_done.html
Labels: 🎨 Html & CSS

#233 Style/pw reset complete
  relanz/static/css/user/pw_reset_complete.css
  relanz/static/css/user/pw_reset_confirm.css
  relanz/templates/user/pw_reset_complete.html
  relanz/templates/user/pw_reset_confirm.html
Labels: 🎨 Html & CSS

#228 Feature/community challenge
  relanz/challenge/views.py
  relanz/community/views.py
  relanz/templates/challenge/challenge.html
  relanz/templates/challenge/participate.html
  relanz/templates/community/communityHome.html
  relanz/templates/community/detail.html
  relanz/templates/main/home.html
Labels: ✨ Feature

#234 Style: ranking page
  relanz/static/css/communityHome.css
  relanz/static/css/main/home.css
  relanz/static/css/main/ranking.css
  relanz/static/css/ranking.css
  relanz/static/icons/question_mark.png
  relanz/templates/main/home.html
  relanz/templates/main/ranking.html
Labels: 🎨 Html & CSS

#232 feature: time-limit 하루에 한 번만 릴렌지 올리기
  relanz/community/views.py
Labels: ✨ Feature

#235 feature: score띄우기, pagination 무한 스크롤 백엔드처리, 에러 메시지
  relanz/community/urls.py
  relanz/community/views.py
  relanz/templates/community/communityHome.html
  relanz/templates/community/detail.html
Labels: 🐞 BugFix, ✨ Feature, 🔨 Refactor

#239 style: new, detail alert message
  relanz/community/forms.py
  relanz/static/css/community/new.css
  relanz/static/css/detail.css
  relanz/static/icons/rStar.png
  relanz/static/js/detail.js
  relanz/templates/community/detail.html
  relanz/templates/community/new.html
  relanz/templates/main/ranking.html
  relanz/templates/ranking.html
  relanz/templates/user/email_sent.html
Labels: 🎨 Html & CSS

#243 배포 초기 버전
  relanz/config/settings/__init__.py
  relanz/config/settings/base.py
  relanz/config/settings/local.py
  relanz/config/settings/production.py
  relanz/config/wsgi.py
  relanz/manage.py
Labels: 🌎 Deploy

#246 deploy: domain 연결
  relanz/config/settings/production.py
Labels: 🌎 Deploy

#231 fix: email sent page ratio
  relanz/static/css/main/home.css
  relanz/static/css/main/splashscreen.css
  relanz/templates/main/home.html
  relanz/templates/user/email_sent.html
Labels: 🎨 Html & CSS

#247 style:detail.fix
  relanz/static/css/detail.css
Labels: 🎨 Html & CSS

#251 style: 전반적인 것들 만짐
  relanz/static/css/communityHome.css
  relanz/static/css/detail.css
  relanz/static/css/myArticles.css
  relanz/static/css/user/userinfo.css
  relanz/templates/community/detail.html
  relanz/templates/community/myArticles.html
  relanz/templates/user/userinfo.html
Labels: 🐞 BugFix, 🎨 Html & CSS

#252 fix: nav 아이콘 수정, html js 영역 수정
  relanz/static/icons/Home_icon.png
  relanz/static/icons/Home_icon_filled.png
  relanz/static/icons/More_icon.png
  relanz/static/icons/More_icon_filled.png
  relanz/static/icons/My_icon.png
  relanz/static/icons/My_icon_filled.png
  relanz/static/icons/Ranking_icon.png
  relanz/static/icons/Ranking_icon_filled.png
  relanz/templates/challenge/challenge.html
  relanz/templates/community/communityHome.html
  relanz/templates/community/detail.html
  relanz/templates/community/myArticles.html
  relanz/templates/main/home.html
  relanz/templates/main/ranking.html
  relanz/templates/mobileBase.html
  relanz/templates/tag/survey.html
  relanz/templates/tag/tagsurvey.html
  relanz/templates/user/accountedit.html
  relanz/templates/user/moreInfo.html
  relanz/templates/user/pw_reset_complete.html
  relanz/templates/user/user_delete.html
  relanz/templates/user/userinfo.html
Labels: 🎨 Html & CSS

#256 setting: challengetag 수정, 시간대 추가
  relanz/ChallengeTag.json
Labels: ⚙️ Setting

#257 fix: screensplash, home
  relanz/static/css/main/home.css
  relanz/static/css/main/splashscreen.css
  relanz/static/css/user/email_sent.css
  relanz/static/css/user/userinfo.css
  relanz/static/icons/magazine-like-filled.png
  relanz/static/icons/magazine-like.png
  relanz/templates/community/myArticles.html
  relanz/templates/main/home.html
  relanz/templates/main/splashscreen.html
  relanz/templates/user/email_sent.html
Labels: 🐞 BugFix, 🎨 Html & CSS

#261 Style/image fix
  relanz/static/css/communityHome.css
  relanz/static/css/detail.css
  relanz/static/icons/left_arrow.svg
  relanz/static/icons/right_arrow.svg
  relanz/templates/community/detail.html
  relanz/templates/tag/survey.html
Labels: 🐞 BugFix

#262 style: detail 페이지 완성
  relanz/community/views.py
  relanz/static/css/detail.css
  relanz/templates/community/detail.html
Labels: ✨ Feature, 🎨 Html & CSS

#264 style: detail css 오류수정
  relanz/static/css/detail.css
  relanz/templates/community/detail.html
Labels: 🎨 Html & CSS

#265 style: detail, commuhome 이미지 크기 해결
  relanz/static/css/communityHome.css
  relanz/static/css/detail.css
  relanz/static/css/user/userinfo.css
  relanz/templates/challenge/challenge.html
  relanz/templates/user/signin.html
Labels: 🎨 Html & CSS

#267 style: 해결
  relanz/static/css/tagsurvey.css
  relanz/templates/challenge/challenge.html
Labels: 🎨 Html & CSS

#269 style: userInfo tag 해결
  relanz/static/css/user/userinfo.css
Labels: 🎨 Html & CSS

#272 Fix/csrf fix
  relanz/static/css/signup.css
  relanz/static/icons/favicon.png
  relanz/static/js/signin.js
  relanz/templates/base.html
  relanz/templates/user/signin.html
  relanz/templates/user/signup.html
  relanz/user/views/find_views.py
Labels: 🎨 Html & CSS

#273 fix: 가운데 정렬 수정
  relanz/static/css/main/home.css
Labels: 🐞 BugFix

#274 style: 해결
  relanz/static/css/challenge.css
  relanz/static/css/user/user_delete.css
  relanz/static/js/challenge.js
  relanz/templates/challenge/challenge.html
Labels: 🎨 Html & CSS

#275 Style/style img div
  relanz/community/views.py
  relanz/static/css/detail.css
  relanz/static/js/communityHome.js
Labels: 🐞 BugFix

#276 fix: 진짜 최종 수정중
  relanz/community/views.py
  relanz/templates/tag/tagsurvey.html
Labels: 🎨 Html & CSS
